.longe-bordas{
    background-color: #FFA6A9;
    padding: 25px;
  }
  
  .afastado{
    background-color: #77C0ED;
    margin: 20px 8px 12px 15px;
  }
  .alto{
    background-color: #C3E887;
    width: 300px;
  }
  
  .largo{
  background-color: #FFE396;
  height: 500px;
  }
  
  .bordado{
    background-color: #AF9BCC;
    border: solid 1px green;
  }
  
  .sumido{
   display: none;
  }